In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import pgeocode

print("Successful")

Successful

In [58]:
#pip install pgeocode

In [74]:
#pip install geopy

Requirement already satisfied: geopy in c:\users\thech\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\thech\anaconda3\lib\site-packages (from geopy) (1.50)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim

print("Success")

Success

In [3]:
#Establish the URL from where youre pulling data
URL = "https://robbreport.com/shelter/homes-for-sale/most-expensive-zip-codes-in-america-2881608/"

#Use pandas function to pull in data from URL into table
df = pd.read_html(URL,
                 header = 0,
                 index_col = 0)

#Convert the list into a dataframe
df = df[0]
df

     Zip Code   Municipality         County State 2019 Median Sale Price
#
1       94027       Atherton      San Mateo    CA             $7,050,000
2       11962     Sagaponack        Suffolk    NY             $4,300,000
3       90402   Santa Monica    Los Angeles    CA             $4,154,000
4       90210  Beverly Hills    Los Angeles    CA             $4,080,000
5       10007       New York       New York    NY             $3,900,000
..        ...            ...            ...   ...                    ...
96      94941    Mill Valley          Marin    CA             $1,443,000
97      94116  San Francisco  San Francisco    CA             $1,440,000
98       2493         Weston      Middlesex    MA             $1,437,000
99      95130       San Jose    Santa Clara    CA             $1,420,000
100     21056  Gibson Island   Anne Arundel    MD             $1,401,000

[125 rows x 5 columns]

In [4]:
locator = Nominatim(user_agent= 'Andrew')

In [ ]:
# 1 - conveneint function to delay between geocoding calls
geocode = locator.geocode

# 1- - create location column
df['location'] = df['Zip Code'].apply(geocode)

# 2 - create longitude, laatitude and altitude from location column (returns tuple)

df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

# 3 - split point column into latitude, longitude and altitude columns
df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)

df

In [8]:
#Save the csv, Export and then procede to import file into Tableau

df.to_csv('Best_Moves.csv')