In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import pgeocode

print("Successful")

Successful

In [58]:
#pip install pgeocode

In [74]:
#pip install geopy

Requirement already satisfied: geopy in c:\users\thech\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\thech\anaconda3\lib\site-packages (from geopy) (1.50)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim

print("Success")

Success

In [3]:
#Establish the URL from where youre pulling data
URL = "https://robbreport.com/shelter/homes-for-sale/most-expensive-zip-codes-in-america-2881608/"

#Use pandas function to pull in data from URL into table
df = pd.read_html(URL,
                 header = 0,
                 index_col = 0)

#Convert the list into a dataframe
df = df[0]
df

     Zip Code   Municipality         County State 2019 Median Sale Price
#
1       94027       Atherton      San Mateo    CA             $7,050,000
2       11962     Sagaponack        Suffolk    NY             $4,300,000
3       90402   Santa Monica    Los Angeles    CA             $4,154,000
4       90210  Beverly Hills    Los Angeles    CA             $4,080,000
5       10007       New York       New York    NY             $3,900,000
..        ...            ...            ...   ...                    ...
96      94941    Mill Valley          Marin    CA             $1,443,000
97      94116  San Francisco  San Francisco    CA             $1,440,000
98       2493         Weston      Middlesex    MA             $1,437,000
99      95130       San Jose    Santa Clara    CA             $1,420,000
100     21056  Gibson Island   Anne Arundel    MD             $1,401,000

[125 rows x 5 columns]

In [5]:
locator = Nominatim(user_agent= 'Andrew')

In [6]:
geocode = locator.geocode

# 1- - create location column
df['location'] = df['Zip Code'].apply(geocode)

# 2 - create longitude, laatitude and altitude from location column (returns tuple)

df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

# 3 - split point column into latitude, longitude and altitude columns
df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)

df

,Zip Code,Municipality,County,State,2019 Median Sale Price,location,point,latitude,longitude,altitude
#,,,,,,,,,,
1,94027,Atherton,San Mateo,CA,"$7,050,000","(Atherton, San Mateo County, California, 94027...","(37.45867082905502, -122.21085390195736, 0.0)",37.458671,-122.210854,0.0
2,11962,Sagaponack,Suffolk,NY,"$4,300,000","(Sagaponack, Suffolk County, New York, 11962, ...","(40.91873695, -72.26417455895421, 0.0)",40.918737,-72.264175,0.0
3,90402,Santa Monica,Los Angeles,CA,"$4,154,000","(Tullnau, Nürnberg, Bayern, 90402, Deutschland...","(49.4515385, 11.104158951174478, 0.0)",49.451538,11.104159,0.0
4,90210,Beverly Hills,Los Angeles,CA,"$4,080,000","(Beverly Hills, Los Angeles County, California...","(34.09511037236945, -118.39932051840252, 0.0)",34.095110,-118.399321,0.0
5,10007,New York,New York,NY,"$3,900,000","(彰化縣, 臺灣省, Taiwan, (24.0755667, 120.5444667))","(24.0755667, 120.5444667, 0.0)",24.075567,120.544467,0.0
...,...,...,...,...,...,...,...,...,...,...
96,94941,Mill Valley,Marin,CA,"$1,443,000","(Strawberry Manor, Marin County, California, 9...","(37.8893772, -122.51580100048163, 0.0)",37.889377,-122.515801,0.0
97,94116,San Francisco,San Francisco,CA,"$1,440,000","(Lenzingerberg, Hutthurm, Landkreis Passau, Ba...","(48.688171249999996, 13.481366628913745, 0.0)",48.688171,13.481367,0.0
98,2493,Weston,Middlesex,MA,"$1,437,000","(Herzig Mühle, Gemeinde Lichtenwörth, Bezirk W...","(47.8325049, 16.2962108, 0.0)",47.832505,16.296211,0.0
99,95130,San Jose,Santa Clara,CA,"$1,420,000","(Franconville, Argenteuil, Val-d'Oise, Île-de-...","(48.99491655, 2.2392033371214284, 0.0)",48.994917,2.239203,0.0
100,21056,Gibson Island,Anne Arundel,MD,"$1,401,000","(Kudruküla linnaosa, Narva linn, Ida-Viru maak...","(59.42942090660004, 28.05723162786334, 0.0)",59.429421,28.057232,0.0

In [8]:
#Save the csv, Export and then procede to import file into Tableau

df.to_csv('Best_Moves.csv')